#map .state {
  cursor: pointer;
  cursor: pointer;  outline: none;
}

#map .state .shape {
  cursor: pointer;
}

#map .state .label_icon_state {
  fill: #fff;
  font-family: Arial;
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
}

#map .state .label_state {
  display: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

#map .state:hover .label_state,
#map .state.hover .label_state {
  display: block;
}

#map .model-green .state .label_icon_state {
  fill: #fff;
}

#map .model-green .state .label_state {
  fill: #666;
}

#map .model-green .state:hover .shape,
#map .model-green .state.hover .shape {
  fill: #2d68b2;
}

#map .model-green .state:hover .icon_state,
#map .model-green .state.hover .icon_state {
  fill: #5a95ce;
}
#map .model-green .state .icon_state,
#map .model-green .state .shape {
  fill: #ccc;
}

#map .model-green .state.active .shape, 
#map .model-green .state.active .icon_state {
  fill: #366823;
}

#map .model-green .state.selected .shape,
#map .model-green .state.selected .icon_state {
  fill: #F8E284;
}

.mapa-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.mapa-column h3 {
  color: #DD8631;
}

.mapa-column > div {
  flex: 1;
}

.mapa-column .terapeutas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mapa-column .terapeutas .terapeuta {
  border-bottom: 1px solid #ccc;
  flex: 50%;
  padding: 10px;
}

.mapa-column .terapeutas .terapeuta.hide {
  display: none;
}

.mapa-column .terapeutas .terapeuta ul {
  padding-left: 0;
}

.mapa-column .terapeutas .terapeuta ul li {
  list-style: none;
}

.mapa-column select {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 768px) {
  #map {
    display: none;
  }

  .mapa-column {
    flex-direction: column;
  }
}